<div class="container-fluid container-margin home-container" [@transition]='state'>
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header"> 5 Day Weather App
                </div>
                <div class="card-block">
                   <p style="padding: 10px;"> An application that provides a 5 day weather forecast for Malaga, ESP. </p>
                   <p style="padding: 10px;"> More functionality coming soon!  </p>
                </div>
            </div>
        </div>
    </div>
</div>